<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<p>Atjauno kursu:</p>
		<form th:action = "@{/course/crud/update/__${cid}__}" method="post" th:object="${course}">
			<table>
				<tr>
					<td>Title</td>
					<td><input type="text" th:field="*{title}"	/></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" th:field="*{description}"	/></td>
				</tr>
				<tr>
					<td>Hours</td>
					<td><input type="text" th:field="*{hours}"	/></td>
				</tr>
				<tr>
					<td>CourseLevel</td>
					<td><input type="text" th:field="*{courseLevel}"	/></td>
				</tr>
				<tr>
					<td>Lecturer</td>
					<td><input type="text" th:field="*{lecturer}"	/></td>
				</tr>
				<tr>
					<td>CourseDates</td>
					<td><input type="text" th:field="*{courseDates}"	/></td>				
				</tr>
			</table>
			<button type="submit">Atjauno</button>
		</form>
	</body>
</html>